/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  border:0;
  overflow: hidden;
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f7f7f7;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 3px;
      background-color: #f7f7f7;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #FFF;
      background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#d70018), to(#d70018), color-stop(0.6, #d70018));
    }
}
